.formOrc{
    position: absolute;
    margin: 20px;
    border: 2px transparent;
    border-style: solid;
    border-color: rgb(0, 0, 0, .2);
    border-radius: 20px;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    background-color:white;
}
.formula1 table{
    border-collapse: collapse;
}
.formula1 td:first-child{
    width: 200px;
}
.formula1 table input[type="text"]{
    border: 0;
    width: 250px;
}
.formula1 table input[type="text"]:focus{
    outline: none;
}
.formula1 td{
    padding-top: 15px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0,0,0,0.5);
}
.formula1 td:last-child{
    padding-left: 15px;
}

.obrig{
    color: red;
    position: relative;
    display: inline-block;
}
.obrig .text{
    visibility: hidden;
    background-color: rgb(48, 48, 48, .6);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
    position: absolute;
    min-width: 90px;
    letter-spacing: 0.5px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 10;
}

.obrig:hover .text{
    visibility: visible;
}
