/* essa parte é referente a todo o corpo do site*/

.centerPage{
    background-color: whitesmoke;
    border: 0;
    top: 100px;
    position: relative;
    min-height: 650px;
    word-wrap: break-word;
    white-space: normal;
}

@media screen and (min-width:1280px) {
        .centerPage{
        width: 75vw;
        left: 12.5vw;
    }
}

@media screen and (max-width:900px) {
    .centerPage{
        width: 90vw;
        left: 5vw;
    }
}

@media screen and (max-width:640px){
    .centerPage{
        width: 100%;
        left: 0;
    }    
}