.contactPg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerPage,
.contactPg {
    background-color: transparent;
}

.formOrc {
    margin: 20px;
    border: 2px transparent;
    border-style: solid;
    border-color: rgb(0, 0, 0, .2);
    border-radius: 20px;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(191, 233, 183);
    max-width: 100%;
    width: fit-content;
}

.formula1 table {
    border-collapse: collapse;
    max-width: 100%;
    max-height: 100%;
}

.formula1 td:first-child {
    width: 50%;
}

.formula1 table input[type="text"] {
    border: 0;

    background-color: rgb(191, 233, 183);
}

.formula1 table input[type="text"]:focus {
    outline: none;
}

.formula1 table input[type="number"] {
    border: 0;
    background-color: rgb(191, 233, 183);
}

.formula1 table input[type="number"]:focus {
    outline: none;
}

.formula1 td {
    padding-top: 15px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0, 0.5);
}

.formula1 td:last-child {
    padding-left: 15px;
}

.obrig {
    color: red;
    position: relative;
    display: inline-block;
}

.obrig .text {
    visibility: hidden;
    background-color: rgb(48, 48, 48, .6);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
    position: absolute;
    min-width: 90px;
    letter-spacing: 0.5px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 10;
}

.obrig:hover .text {
    visibility: visible;
}