body {
    margin: 0;
    background-color: rgb(185, 229, 185);
}

.image-container img {
    width: 100vw;
    height: auto;
    filter: blur(5px);
}

.image-container {
    position: fixed;
    display: flex;
    width: max-content;
    animation: move-left 50s linear infinite;
}

@keyframes move-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-77.7777%);
    }
}