/* essa parte é referente a todo o corpo do site*/

.centerPage{
    background-color: whitesmoke;
    border: 0;
    padding-top: 100px;
    position: relative;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
    overflow: visible;
}

@media screen and (min-width:1280px) {
        .centerPage{
        width: 75vw;
        left: 12.5vw;
    }
}

@media screen and (min-width:641px) {
    .centerPage{
        width: 80vw;
        left: 10vw;
    }
}

@media screen and (max-width:640px){
    .centerPage{
        width: 100vw;
    }    
}